@import "_mixins";
@import "_unversal-style";



/*
@mixin linColors ($link, $visit, $hover, $active)
@mixin prefix($property, $val)
@mixin flexc-container($direction: row, $wrap: nowrap, $justify: flex-start, $alignItems: stretch )
*/
body {
  //@include linColors(#000,red,blue,green);
}


#myLink {
  width: 80%;
  margin: auto;
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 0;
  //opacity: 0.7;
  display: none;

  .informator {
    text-align: center;
    background-color: #333444;
    width: 50%;
    margin: auto;
    padding: 200px 0;
    opacity: 1;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;

    .close {
      color: white;
      top: 5px;
      right: 10px;
      font-size: 22px;
      line-height: 12px;
      position: absolute;
    }
  }
}

header, footer {
  padding:0;
  background-color: #000;
  color: #fff;
  .menuContainer {
    @include flexc-container(row, nowrap, space-between, stretch);
  }
  .logo {
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    //display: inline-block;

    li {
      display: inline-block;
      padding:37px;
      @include linColors(#fff, #333, #ebebeb, #222);

      &:hover {
        @include prefix(transition, 0.5s ease);
        background-color: #333;
        cursor: pointer;
      }

    }
  }
}
#content {

  .section {
    padding-bottom: 25px;
    position: relative;
    .title {
      text-transform: uppercase;
      font-weight: bold;
      color: #333;
      text-align: center;
      font-size: 34px;
      padding: 25px 0;

    }

    .arrow {
      font-size: 34px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      //background-color: rgba(0, 0, 0, 0.3);
      width: 64px;
      bottom: 0;
      z-index: 2;

      &.next {
        background-image: url("../img/keyboard-right-arrow-button.png");
        right: -100px;
      }
      &.prev {
        background-image: url("../img/keyboard-left-arrow-button.png");
        left: -100px;
      }
    }
    .squer {
      position: relative;
      &:hover {
        @include prefix(transition, 0.5s ease);

      }
      .layer {
        position: absolute;
        top: 0px;
        z-index: 22;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.8);
        font-size: 32px;
        display: none;
        @include prefix(transition, 0.5s ease);


      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }


      }
      .image {
        cursor: pointer;


      }
    }
  }

}
footer {
  position: absolute;
  left: 0;
  width: 100%;
  //padding: 25px 0;
  .logo {
    cursor: pointer;
    //width: 20%;
  }
  .menu {
    padding: 15px 0;
    //width: 40%;
    div {
      font-size: 18px;
      font-weight: bold;
      line-height: 34px;
      cursor: pointer;

      &:hover {
        @include prefix(transition, 0.5s ease);
        color: #333;
      }
    }
  }
  .info {
    padding: 15px 0;
    text-align: right;
  }
}

#slider {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(0,0,0,0.3);

  .owl-carousel {
    margin: 0;
    padding: 0;
  }
  .image {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .textPlace {
    font-size: 34px;
      font-weight: bold;
      color: #fff;
      position: absolute;
      height: 500px;
      background-color: rgba(0,0,0,0.7);
      text-align: center;
      padding: 100px 200px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
  }

  //.arrow {
  //  font-size: 34px;
  //  font-weight: bold;
  //  color: rgba(0, 0, 0, 0.6);
  //  cursor: pointer;
  //  position: absolute;
  //  height: 500px;
  //  background-position: center;
  //  background-repeat: no-repeat;
  //  background-size: contain;
  //  background-color: rgba(0,0,0,0.3);
  //  width: 64px;
  //  top: 0;
  //  z-index: 2;
  //
  //
  //  &.next {
  //      background-image: url("../img/keyboard-right-arrow-button.png");
  //      right: 0px;
  //  }
  //  &.prev {
  //    background-image: url("../img/keyboard-left-arrow-button.png");
  //    left: 0px;
  //  }
  //}



}

#map {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}